header {
    background-color: #d4a373;
    height: 80px;
    width: 100%;
    position: fixed;
    text-align: center;
}

header h1 {
    color: whitesmoke;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
}

header a:hover {
    text-decoration: underline;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}



.main-content {
    font-size: 100%;
    background-color: #faedcd;
    padding: 45px;
}


.main-content h1 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.main-content h1 {
    font-size: 60px;
    line-height: 100px;
}

.main-content h2 {
    font-size: 40px;
    margin: 0;

}

.main-content ul {
    list-style-position: inside;
    text-align: center;
}

.main-content ol {
    list-style-position: inside;
    text-align: center;
}

.dog {
    background-color: ;
    height: 50vw;
}

footer {
    background-color: black;
    color: #B7B7B7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}


.menu {
    display: none;
}

/* Responsive Web Design */
@media screen and (max-width:768px) {
    header ul {
        display: none;
    }

    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }


    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }